//Mes Variables
$background-vert: #C3D8BB;
$background-noir: #222421;
$text-color: #222421;
$text-size: 14px;
$text-titre: 20px;
$segoe: 'Segoe UI', sans-serif;
$roboto: 'Roboto', sans-serif;

//Règles Générales
*{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 80px;
    font-family: $segoe;
}

.content_title{
    padding-top: 80px;
    padding-bottom: 80px;

    .content_trait{
        width: 300px;
        display: flex;
        justify-content: space-around;
        .trait_petit{
            border-top: 2px black solid;
            width: 70px;
        }
        .trait_grand{
            border-top: 2px black solid;
            width: 120px;
        }
    }
}

#concept{
    height: 100vh;
    .content_text{
        p{
            padding-top: 40px;
        }
    }
}

#last_article{
    height: 100vh;
    article{
        
        padding-bottom: 80px;
        .content_title{
            position: absolute;
            z-index: 5;
            left: 120px;
            top: 10px;
            color: white;
            padding:0;
    
            .content_trait{
                width: 150px;
                display: flex;
                justify-content: space-around;
                .trait_petit{
                    border-top: 2px $background-vert solid;
                    width: 30px;
                }
                .trait_grand{
                    border-top: 2px $background-vert solid;
                    width: 60px;
                }
            }
        }

        .thumb{
            position: relative;
            text-align: center;
        img{
            filter: brightness(0.5);
        }
    }
    .extrait{
        cursor: pointer;
        position: absolute;
        bottom: 160px;
        left: 200px;
        color: white;
    }
    .datePost{
        position: absolute;
        bottom: 80px;
        left: 130px;
        color: white;
    }
    }
}