* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 0 !important;
}

section {
  height: 100vh;
}

p, ul {
  margin-bottom: 0rem !important;
}

#sports_background_before {
  overflow: hidden;
  margin-bottom: -103px;
}

#sports_background_after {
  overflow: hidden;
  margin-bottom: -105px;
}

#sports {
  background-image: url(assets/img/background-sport-dechire-before.png);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

#sports h2 {
  font-family: "Segoe UI", sans-serif;
  font-weight: medium;
  color: white;
  font-size: 80px;
  text-align: left;
  padding-top: 40px;
}

@media (min-width: 578px) and (max-width: 769px) {
  #sports h2 {
    font-size: 60px;
  }
}

@media (max-width: 577px) {
  #sports h2 {
    font-size: 40px;
  }
}

#sports .content_trait {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 60px;
}

#sports .content_trait .trait_petit {
  border-top: 2px white solid;
  width: 70px;
}

@media (min-width: 578px) and (max-width: 769px) {
  #sports .content_trait .trait_petit {
    width: 52px;
  }
}

@media (max-width: 577px) {
  #sports .content_trait .trait_petit {
    width: 35px;
  }
}

#sports .content_trait .trait_grand {
  border-top: 2px white solid;
  width: 120px;
}

@media (min-width: 578px) and (max-width: 769px) {
  #sports .content_trait .trait_grand {
    width: 90px;
  }
}

@media (max-width: 577px) {
  #sports .content_trait .trait_grand {
    width: 60px;
  }
}

@media (min-width: 578px) and (max-width: 769px) {
  #sports .content_trait {
    width: 225px;
  }
}

@media (max-width: 577px) {
  #sports .content_trait {
    width: 150px;
  }
}

#sports #images_sports {
  margin-top: 6%;
  padding-bottom: 40px;
}

#sports #images_sports a img {
  height: 192px;
}

@media (min-width: 578px) and (max-width: 769px) {
  #sports #images_sports a img {
    height: 171px;
  }
}

@media (max-width: 577px) {
  #sports #images_sports a img {
    height: 150px;
  }
}

#sports #images_sports a img:hover {
  opacity: 0.6;
}

@media (min-width: 578px) and (max-width: 991px) {
  #sports #images_sports a {
    margin-top: 100px;
  }
}

@media (min-width: 578px) and (max-width: 769px) {
  #sports #images_sports {
    padding-bottom: 20px;
  }
}

@media (max-width: 577px) {
  #sports #images_sports {
    padding-bottom: 0;
  }
  #sports #images_sports a:nth-child(2),
  #sports #images_sports a:nth-child(3),
  #sports #images_sports a:last-child {
    margin-top: 60px;
  }
}

footer {
  background-image: url(assets/img/background-footer-dechire.png);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  font-size: 17px;
  width: 100%;
  height: 100px;
}

footer .container .row {
  width: 100%;
}

footer .container .row ul li {
  list-style: none;
}

footer .container .row ul li a {
  color: white;
}

footer .container .row ul li a i {
  font-size: 25px;
  margin-right: 20px;
}

footer .container .row ul li a:hover {
  text-decoration: none;
  color: grey;
}

footer .container .row a {
  color: white;
}

footer .container .row a:hover {
  text-decoration: none;
  color: grey;
}
/*# sourceMappingURL=style.css.map */